<!DOCTYPE html>
<html lang="en">

<head>
  <title>Share URL?/Confirm attendance Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header'); %>
  <section>
    <div id="box1">
      <div id="group-title">
        <div id="create-group-event"><strong><%=title %></strong></div>
      </div>
      <div class="eventDetailsAll">
        <div class="eventDetail"><strong>Created by:</strong> <div class="highlight"><%= userName %></div></div>
        <div class="eventDetail"><strong>Description:</strong> <div class="description highlight"><%= description%></div></div>
        <!-- <p><strong>Location:</strong> <%=location %></p> -->
        <!-- <p><strong>Link:</strong><%= link %></p> -->
      </div>
    </div>

  </section>
  <section>
    <div id="box2">
      <form class="form" action="/events/<%=gen_id%>/confirm" method="POST">
        <div class="form">
          <strong><label for="name"> Name</label></strong>
          <input
            class="form-control"
            type="text"
            name="name"
          />
        </div>
        <div class="form">
          <strong><label for="email"> Email</label></strong>
          <input
            class="form-control"
            type="text"
            name="email"
          />
        </div>
        <div class="lowerForm">
          <p><strong>When Can You Attend?</strong></p>
          <section id="meeting-times">
            <table id="vote-table">
              <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Yes</th>
                <!-- <th>No</th> -->
                <th>Votes</th>
              </tr>
              <% let counter = 0 %>
              <% for (let event of events) { %>
              <tr>
                  <% let input1 = `radio${counter}` %>
                  <% let input2 = `radio${counter}` %>
                  <td class="date-vote"><%= event.start_time %></td>
                  <td class="date-vote"><%= event.end_time %></td>
                  <td><input type="checkbox" class="yes" name="vote[]" value="<%= event.id %>"></td>
                  <!-- <td><input type="radio" class="no" name="<%=input2%>" value="false"></td> -->
                  <% counter++ %>
              </tr>
              <% } %>
              <!-- <input type=“hidden” id=“custId” name=“custId” value=“3487"> -->
              <!-- <tr>

                <td class="date-vote">May 20, 2010, 13:45</td>
                <td class="date-vote">May 20, 2010, 14:45</td>
                <td><input type="radio" id="yes" name="radio1" value="true"></td>
                <td><input type="radio" id="no1" name="radio1" value="false"></td>
              <tr>
                <td class="date-vote">May 20, 2010, 13:45</td>
                <td class="date-vote">May 20, 2010, 14:45</td>
                <td><input type="radio" id="yes" name="radio2" value="true"></td>
                <td><input type="radio" id="no2" name="radio2" value="false"></td>
              </tr> -->
            </table>
            <!-- <p>Possible Meeting Times </p>
            <div id="column-names">
              <p>Start Time</p>
              <p>End Time</p>
              <p>Yes</p>
              <p>No</p>
            </div>
            <div id="column-names">
              <p class="optionStart">placeholder: START time here</p>
              <p class="optionStart">placeholder: END time here</p>
              <input type="radio" id="yes" name="yes" value="true">
              <input type="radio" id="no" name="no" value="false">
            </div> -->
          </section>
          <button class="btn" type="submit" id="save-response">SUBMIT YOUR VOTES</button>
          <!-- <section id="attendee-answers">
              <div id="event-answer">
                <div class="optionStart">placeholder: START time here</div>
                <div class="optionStart">placeholder: END time here</div>
                <input type="radio" id="yes" name="yes" value="true">
                <input type="radio" id="no" name="no" value="false">
              </div>
          </section> -->












            <!-- <div class="optionAll">
              <div class="optionStartList">
                <p>Start</p>
                  <div class="optionStart">2022-04-26 10:15 AM</div>
                  <div class="optionStart">2022-04-27 10:15 AM</div>
                  <div class="optionStart">2022-04-28 10:15 AM</div>
              </div>
              <div>
                <p>End</p>
                <div class="optionEnd">2022-04-26 11:15 AM</div>
                <div class="optionEnd">2022-04-27 11:15 AM</div>
                <div class="optionEnd">2022-04-28 11:15 AM</div>
              </div>
              <div>
                <label for="yes"> Yes</label><br>
                <input type="radio" id="yes" name="yes" value="true">
                <label for="yes"></label><br>
                <input type="radio" id="yes1" name="yes" value="true">
                <label for="yes"></label><br>
                <input type="radio" id="yes2" name="yes" value="true">
              </div>
              <div>
                <label for="no"> No</label><br>
                <input type="radio" id="yes" name="no" value="false">
                <label for="no"></label><br>
                <input type="radio" id="yes1" name="no" value="false">
                <label for="no"></label><br>
                <input type="radio" id="yes2" name="no" value="false">
              </div> -->
          <!-- </div>
          </section>




          <div>
            <button class="btn" type="submit">SUBMIT</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</body>

</html>
